<div class="sellersignup">
    <h1>Seller SignUp</h1>

    <form class="sellersignupform" #sellersignup="ngForm" (ngSubmit)="signup(sellersignup.value)">
        <input class="seller-signupinput" type="text" name="Username" ngModel placeholder="User Name">
        <input class="seller-signupinput" type="text" name="email" ngModel placeholder="Email" >
        <input class="seller-signupinput" type="password" name="password" ngModel placeholder="Password" >
        <button class="seller-signupbutton">Sign Up</button>

    </form>
    <div class="card">
        {{response}}
    </div>
</div>